<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">

  </head>

  <body>
    <noscript>
    You need to enable JavaScript to run this app.
    </noscript>
    <h2><%= title %></h2>

    <% if (toplevel) {%>
      <div id="toplevel">
        <% for(var i=0; i < toplevel.length; i++) {%>
          <a class="type" href='/notes/type/<%= toplevel[i] %>'><%= toplevel[i] %> </a>
        <% } %>
      </div>
    <% } %>

    <div id="root">
      <% for(var i=0; i<files.length; i++) {%>
        <a href='/notes/<%= files[i].url %>'><%= files[i].name %> </a><br/>
      <%}%>
    </div>
  </body>
</html>